@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    display: flex;
    background-color: #2D2D2D;
    width: 100%
}

body {
    min-height: 100%
}

.main-content {
    display: grid;
    gap: 2px;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas:
        'nav header'
        'nav content'
        'nav footer';
    height: 100%; 
    margin-left: 15px;
    width: 100%
}

.main-content session {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
}


#nav {
    grid-area: nav;
}

#header {
    grid-area: header;
    background: #099c22;
    border-bottom-left-radius: 10px;
    color: #FFF;
    display: grid;
    grid-template-columns: .5fr 9fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

.navigation::after {
    content: '';
    position: absolute;
    top: 43px;
    right: -55px;
    width: 60px;
    border-radius: 50%;
    height: 60px;
    background: #099c22;
    z-index: 2000;
}

#content {
    grid-area: content;
}

#footer {
    grid-area: footer;
}

.navigation {
    position: relative;
    height: 100%;
    width: 70px;
    background: black;
    display: inline-block;
    box-shadow: 10px 0 0 #099c22;
    border-left: 10px solid black;
    overflow: hidden;
    transition: all .5s;
}

.navigation:hover {
    width: 300px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 0 5px 0;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.navigation ul li a {
    position: relative;
    text-decoration: none;
    display: flex;
    color: #FFF;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.navigation ul li a .bi {
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

 a .title {
    line-height: 70px;
    display: block;
    padding-left: 10px;
    white-space: nowrap;
}

.navigation ul li.active {
    background-color: #099c22;
}

.navigation ul li.active a::before {
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    background: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: 15px 15px 0 #099c22;
}

.navigation ul li.active a::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: black;
    top: 70px;
    right: 0;
    box-shadow: 15px -15px 0 #099c22;
}

.navigation span, .navigation i {
    pointer-events: none;
}

/* .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #FFF;
    margin: 6px 0;
    transition: 0.4s;
    }
    .container {
        display: inline-block;
        cursor: pointer;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    } */

